.app-loader {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.app-loader .loader-container {
  display: "flex";
  flex-direction: 'column';
  justify-content: 'center';
  align-items: 'center';
}

.app-loader .loader-container img {
  margin-bottom: 0;
  width: 50px;
  height: 50px;
}